.overlay {
    background: rgba(49, 49, 49, 0.8);
}

.dialog, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.dialog-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 15px;
    max-width: 600px;
    min-width: 300px;
    text-align: center;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.error-msg {
    margin-bottom: 10px;
    color: rgb(221, 99, 99);
}

.general-btn {
    border-radius: 15px;
    margin: 10px;
    padding: 5px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    outline: none;
    border: none;
}

.general-btn:active {
    background: lightgray;
    box-shadow: none;
}

.dialog-input {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    margin: 15px;
    padding: 10px;
    outline: none;
    border: none;
}