/* .LoginPage {
  background-color: rgb(206, 181, 247);
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  background-size: cover;
  align-items: center;
  justify-content: center;
}

.LoginPage .error-msg {
  font-size: 0.8rem;
  color: rgb(247, 67, 67);
  margin-bottom: 16px;
} */

.login {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #dcdcdc;
  padding: 30px;
}
.login__textBox {
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
}
.login__btn {
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
  border: none;
  color: white;
  background-color: black;
}

.login__btn:active {
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.login__google {
  background-color: #4285f4;
}

.login__google:active {
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.login div {
  margin-top: 7px;
}